.player {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    background: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

    p {
        font-size: 30px;
        margin: 0;
    }

    img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        border-radius: 100%;
        margin: 10px 10px 10px 10px;
    }
}

.more_player {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    flex-direction: row-reverse;
}

.player_active {
    background: rgb(221, 186, 30);
}
