.player {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    background: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

    &:hover {
        width: 320px;
        cursor: pointer;
    }

    p {
        font-size: 30px;
        margin: 0;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        border-radius: 100%;
        margin: 2px 2px 2px 2px;
    }
}

.more_player {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    flex-direction: row-reverse;
}

.player_active {
    background: rgb(221, 186, 30);
}

@media screen and (max-width: 650px), screen and (max-height: 650px) {
    .player {
        width: 175px;

        img {
            width: 20px;
            height: 20px;
            margin: 1px 1px 1px 1px;
        }

        p {
            font-size: 17px;
        }
    }
}
