<div class="startscreen">
    <div class="startscreen_container">
        <div class="start_top">
            <div class="vertical">
                <img class="start_cards card1" src="assets/cards/14_of_spades.png" alt="">
                <img class="start_cards card2" src="assets/cards/13_of_clubs.png" alt="">
            </div>  
            <div class="diagonal">
                <img class="start_cards card1" src="assets/cards/14_of_clubs.png" alt="">
                <img class="start_cards card2" src="assets/cards/13_of_hearts.png" alt="">
            </div>
            <div class="horizontal">
                <img class="start_cards card1" src="assets/cards/14_of_hearts.png" alt="">
                <img class="start_cards card2" src="assets/cards/13_of_diamonds.png" alt="">
            </div>
            <div class="diagonal_left">
                <img class="start_cards card1" src="assets/cards/14_of_diamonds.png" alt="">
                <img class="start_cards card2" src="assets/cards/13_of_spades.png" alt="">
            </div>
        </div>
        <div class="start_logo">
            <div class="d_flex">
                <p class="game_name">Ring</p>
                <p class="game_name_of">of</p>
                <p class="game_name">Fire</p>
            </div>
            <button [class.button_bigger]="buttonAnimation" (click)="newGame()" class="start_game_btn">Start Game</button>
        </div>
    </div>
</div>