.field {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background: green;
}

.cardstack {
    position: relative;
    left: -20%;
    height: 200px;
    img {
        position: absolute;
        width: 150px;
        border-radius: 10px;
    }
}

.top_card {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
        transform: scale(1.1) translateY(-20px);
    }
}

.pick_card {
    animation: pick_card_animation 1.5s ease-in-out;
    transform: translate(200px) translateY(0px);
}

@keyframes pick_card_animation {
    0% {
        transform: scale(1) translateY(-20px);
    }
    30% {
        transform: scale(1.7);
    }
    50% {
        transform: scale(1.7) translate(150px) translateY(-60px);
    }
    100% {
        transform: scale(1) translate(200px) translateY(0px);
    }
}

.players {
    position: absolute;
    right: 0;
    opacity: 0;
}

.opacity {
    opacity: 1;
    transition: all 100ms ease;
}

.players_left {
    position: absolute;
    left: 0;
    width: 300px;
}

.margin_top0 {
    top: 20px;
}

.margin_top1 {
    top: 20px;
}
.margin_top2 {
    top: 80px;
}

.margin_top3 {
    top: 80px;
}

.margin_top4 {
    top:140px;
}

.margin_top5 {
    top: 140px;
}

.margin_top6 {
    top: 200px;
}

.margin_top7 {
    top: 200px;
}

.margin_top8 {
    top: 260px
}

.margin_top9 {
    top: 260px
}

.add_btn {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background: white;

    &:hover {
        .add_icon {
            color: green;
        }
    }

    .add_icon {
        color: black;
    }
}

.game_info {
    margin-top: 100px;
    width: 60%;
}

.gameOver_container {
   width: 500px;
   height: 500px;
   border-radius: 100%;
   background: white;
   border: 10px solid rgb(221, 186, 30);

   p {
    font-size: 70px;
    color: black;
    margin-top: 33px;
    margin-bottom: 33px;
   }
}

.gameOver_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.719);
    z-index: 999;
}

@media (max-width: 900px) {

    .cardstack {
        left: -25%;
        height: 100px;

        img {
            width: 115px;
        }
    }

    .game_info {
        width: 80%;
    }
}

@media (max-width: 600px) {

    .cardstack {
        left: -36%;
        height: 100px;

        img {
            width: 100px;
        }
    }

    .game_info {
        width: 95%;
    }

    .pick_card {
        animation: pick_card_animation 1.5s ease-in-out;
        transform: translate(140px) translateY(0px);
    }
    
    @keyframes pick_card_animation {
        0% {
            transform: scale(1)  translateY(-20px);
        }
        30% {
            transform: scale(1.5);
        }
        50% {
            transform: scale(1.5) translate(100px) translateY(-60px);
        }
        100% {
            transform: scale(1) translate(140px) translateY(0px);
        }
    }

    .margin_top0 {
        top: 10px;
    }
    
    .margin_top1 {
        top: 10px;
    }
    .margin_top2 {
        top: 40px;
    }
    
    .margin_top3 {
        top: 40px;
    }
    
    .margin_top4 {
        top: 70px;
    }
    
    .margin_top5 {
        top: 70px;
    }
    
    .margin_top6 {
        top: 100px;
    }
    
    .margin_top7 {
        top: 100px;
    }

    .margin_top8 {
        top: 130px
    }

    .margin_top9 {
        top: 130px
    }    
    
}

@media screen and (max-width: 800px),
screen and (max-height: 800px) {

    .gameOver_container {
        width: 270px;
        height: 270px;
        border: 6px solid rgb(221, 186, 30);
         p {
            font-size: 37px;
         }
    }
    
}
