body {
    margin: 0;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d_flex_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
