mat-card {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 0;
    background: rgb(0 0 0 / 67%);;
    color: #fafafa;
}

mat-card-title {
    font-size: 30px;
}

mat-card-content {
    font-size: 20px;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
    mat-card-title {
        font-size: 20px;
    }

    mat-card {
        padding: 10px;

    }

    mat-card-content {
        font-size: 15px;
    }
}
